/*GERAIS =======================================================*/

body{
    background-color: grey;
    background-image: url(ativos/back-body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}

h1, h2, h3{
    text-align: center;
}

h2{
    font-size: 22px;
}

/*CABEÇALHO ====================================================*/

header{
    margin: auto;
    background-color: black;
    max-width: 1000px;
    min-width: 280px;  
}

#logo{
    display: block;
    margin: auto;
    width: 50%;
    padding: 20px;
}

/*CORPO ========================================================*/

main{
    margin: auto;
    background-color: white;
    max-width: 1000px;
    min-width: 280px;
    box-sizing: border-box;
}

/*Apresentação*/

.apresentação{
    padding: 15px;
}

#avatar{
    width: 30%;
}

.sinopse{
    margin-top: 20px;
    padding: 20px;
    display: inline;
    width: 70%;
    float: right;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    box-sizing: border-box;
}

p{
    font-size: 20px;
    margin-bottom: 0;
}

/*habilidades*/

.habilidades{
    background-color: #444444;
    color: white;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.tecnologia{
    
    width: 33.3%;
    display: inline-block;
    
}

.h3habilidades{
    margin: 0%;
    font-size: 30px;
    position: relative;
    top: 20px;
}

.icone-tec{
    width: 70%;
    display: block;
    margin: auto;
   
}

.icone-check{
    width: 20%;
    display: block;
    margin: auto;
    position: relative;
    bottom: 20px;
    
}

/*MEDIAS =====================================================*/

@media screen and (max-width: 1000px){

    #avatar{
        width: 30%;
        display: block;
        float: none;
        margin: auto;
    }

    .sinopse{
        float: none;
        text-align: center;  
    }

    .h3habilidades{
    font-size: 25px; 
}

@media screen and (max-width: 800px){

    .apresentação{
        padding: 15PX;
    }

    #avatar{
        width: 30%;
        display: block;
        float: none;
        margin: auto;
    }

    .sinopse{
        float: none;
        text-align: center;  
    }

    h1{
        margin: 0%;
    }

    .h3habilidades{
        font-size: 20px;
        position: relative;
        top: 10px;
    }

    .icone-check{
        width: 20%;
        position: relative;
        bottom: 10px;
        
    }
    
}

@media screen and (max-width: 500px){

    #logo{
        width: 70%;
    }

    #avatar{
        width: 60%;
    }
    
    h1{
        font-size: 20px;
    }

    h2{
        font-size: 18px;
    }

    p{
        font-size: 17px;
    }

    .tecnologia{
        display: block;
        margin: 0 auto 5px;
    }

    .h3habilidades{
        font-size: 15px;
    }

    .icone-tec{
        width: 100%;
       
    }
}